{% layout "layout.liquid" %} {% block content %}
<a href="/songs"
  ><h1 class="text-5xl font-semibold pt-2 pl-3 underline">Songs</h1></a
>
<div class="flex flex-row flex-wrap">
  {% for song in songs %}
  <article>
    <a href="/songs/{{ song._id }}">
      <div
        class="padding flex mt-3 mr-4 mb-1 bg-white hover:bg-orange-100 transition-colors duration-300"
        id="shadow"
      >
        <div class="w-1/2">
          <img
            src="{{ song.img }}"
            width="150"
            class="u-max-full-width"
            id="shadow"
          />
        </div>

        <div class="w-1/2" id="right-side2">
          <h4 class="text-2xl font-semibold">{{ song.name }}</h4>
          <p><strong>Artist:</strong> {{ song.artist }}</p>
          <p><strong>Album:</strong> {{ song.album }}</p>
        </div>

        <br /></div
    ></a>
  </article>

  <br />
  {% endfor %}
</div>

{% endblock %}
