{% layout "layout.liquid" %} {% block content %}
<a href="/playlists"
  ><h1 class="text-5xl font-semibold pt-2 pl-3 underline">Playlists</h1></a
>
<div class="flex flex-row flex-wrap">
  <!-- <a href="/playlists/new"><button>New Playlist</button></a>
  <a href="/songs/new"><button>New Song</button></a>
  <a href="/songs"><button>Song Library</button></a>
  <a href="/users/logout"><button>Logout</button></a> -->

  <br />

  {% for playlist in playlists %}
  <div class="">
    <a href="/playlists/{{ playlist._id }}">
      <!-- begin all div -->
      <div
        class="padding flex mt-3 mr-4 mb-1 bg-white hover:bg-orange-100 transition-colors duration-300"
        id="shadow"
      >
        <!-- begin img div -->
        <div class="">
          <img src="{{ playlist.img }}" width="230" class="" id="shadow" />
        </div>
        <!-- end img div -->
        <!-- begin info div -->
        <div class="padding" id="right-side">
          <h4 class="text-3xl font-semibold">{{ playlist.name }}</h4>
          <br />
          <p id="descript">{{ playlist.description }}</p>
          <br />
          <p>
            Genre:
            <strong
              ><em>{{ playlist.genre }}</em></strong
            >
          </p>
        </div>
        <!-- end info div -->
      </div>
      <!-- end all div -->
    </a>
  </div>
  <br />
  {% endfor %}
</div>

{% endblock %}
