{% layout "layout.liquid" %} {% block content %}
<div>
  <a href="/playlists/new"><button>New Playlist</button></a>
  <a href="/songs/new"><button>New Song</button></a>
  <a href="/songs"><button>Song Library</button></a>

  <br /><br />

  {% for playlist in playlists %}
  <article>
    <a href="/playlists/{{ playlist._id }}">
      <div class="row padding" id="shadow">
        <div class="one-third column">
          <img
            src="{{ playlist.img }}"
            width="200"
            class="u-max-full-width"
            id="shadow"
          />
        </div>

        <div class="two-thirds column">
          <h4>{{ playlist.name }}</h4>

          <p id="descript">{{ playlist.description }}</p>
          <p>
            Genre:
            <strong
              ><em>{{ playlist.genre }}</em></strong
            >
          </p>
        </div>

        <br /></div
    ></a>
  </article>
  <br />
  {% endfor %}
</div>

{% endblock %}
