{% layout "layout.liquid" %} {% block content %}
<div>
  <article>
    <div>
      <h3>
        {{ playlists.name }}
      </h3>

      <img src="{{ playlists.img }}" width="350" /><br />

      <h5 id="descript">{{ playlists.description }}</h5>

      <a href="/playlists/{{ playlists._id }}/edit"
        ><button>Edit {{ playlists.name }}</button></a
      >
      <form
        action="/playlists/{{ playlists._id }}?_method=DELETE"
        method="POST"
      >
        <input type="submit" value="Delete" />
      </form>
      <a href="/playlists/"><button>Back to Menu</button></a>
    </div>
  </article>
</div>
{% endblock %}
